<!DOCTYPE html>
<html lang="fr" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <title>Détail du patient</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.ico" />
    <link
            href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
            rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main class="px-4 py-10 md:px-16 xl:px-32">
    <div class="border border-red-500/20 p-5 backdrop-blur-sm md:p-16">
        <div class="grid grid-cols-[200px_1fr_200px]">
            <div>
                <a href="/patients" class=" mt-10 text-center text-teal-500 hover:text-teal-700"><i class="ri-arrow-left-circle-line ri-2x" title="Retour à la liste des patients"></i></a>
            </div>
            <h1 class="mb-16 border-b border-teal-500/40 p-5 text-center font-special text-2xl font-bold uppercase tracking-widest text-teal-500">Détail du patient</h1>
        </div>

        <section class="flex flex-col">
            <div class="bg-teal-100 mx-auto w-1/2 border border-teal-500 p-10">
                <div th:replace="~{fragments/success-message :: success-message}"></div>

                <h2 class="text-2xl font-bold text-center mb-15" th:text="|${patientDetails.patient.getLastName} ${patientDetails.getPatient().getFirstName()}|"></h2>
                <div class="font-bold">Date de naissance : <span class="font-normal" th:text="${patientDetails.getPatient().formattedBirthdate()}"></span></div>
                <div class="font-bold">Genre : <span class="font-normal" th:text="${patientDetails.getPatient().getGender()}"></span></div>
                <div class="font-bold">Adresse : <span class="font-normal" th:text="${patientDetails.getPatient().getAddress()}"></span></div>
                <div class="font-bold">Téléphone : <span class="font-normal" th:text="${patientDetails.getPatient().getPhone()}"></span></div>


                <div sec:authorize="hasRole('PRACTITIONER')" class="mx-auto">
                    <hr class="my-10 border-0 bg-white h-px" />

                    <div th:if="${#lists.isEmpty(patientDetails.getNotes())}">
                        <p class="py-3 text-center font-bold">Il n'y a pas de notes pour le moment.</p>
                    </div>
                    <div th:unless="${#lists.isEmpty(patientDetails.getNotes())}" th:each="note : ${patientDetails.getNotes()}">
                        <p class="py-3" th:text="${note.getNote()}"></p>
                    </div>

                    <hr class="my-10 border-0 bg-white h-px" />

                    <strong class="block text-center" th:text="${patientDetails.getRiskReport().label()}"></strong>
                    <p class="text-center" th:text="${patientDetails.getRiskReport().description()}"></p>
                </div>
            </div>

            <div sec:authorize="hasRole('ORGANIZER')" class="mx-auto">
                <a th:href="@{/patients/{id}/update(id=${patientDetails.getPatient().getId()})}" class="mt-10 inline-block mx-auto text-center rounded-md border border-teal-500 bg-teal-500 text-white transition hover:bg-transparent hover:text-teal-600 focus:outline-none focus:ring active:text-teal-500 px-12 py-3"><i class="ri-edit-line ri-lg me-2"></i>Modifier les informations du patient</a>
            </div>

            <div sec:authorize="hasRole('PRACTITIONER')" class="mx-auto">
                <a th:href="@{/patients/{id}/notes/new(id=${patientDetails.getPatient().getId()})}" class="mt-10 inline-block mx-auto text-center rounded-md border border-teal-500 bg-teal-500 text-white transition hover:bg-transparent hover:text-teal-600 focus:outline-none focus:ring active:text-teal-500 px-12 py-3">
                    <i class="ri-sticky-note-add-line ri-lg me-2"></i>Ajouter une note
                </a>
            </div>

        </section>
    </div>
</main>

</body>
</html>